// app global css in SCSS form

body {
  //background-color: #000000;
}

.content{
  font-family: 'Rubik One', sans-serif;
  //background-color: #e7e7e7;
  //margin: 0px auto 0px;
  //width: 50%;
  //min-width: 450px;
  //min-height: 800px;
  //border-radius: 10px;
  /*justify-content: center;*/
  display: flex;
  font-weight: 100;
  flex-direction: column;
  //justify-content: space-between;
  //gap: 50px;
}

.copy-block{
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.rosters {
  /*border: black solid;*/
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.match-input {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 50px;
  //justify-content: center;
}
.count-games {
  padding: 10px;
  font-size: 12px;
}

.roster {
  margin: 20px;
}
.roster__name{
 text-align: center;
}
